.hero {
  flex: 1;
  height: 100%;
  position: relative;
}

.heroImage {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.heroContent {
  padding: 0 40px;
  position: absolute;
  bottom: 10%;
  z-index: 10;
}
