.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 50%;
}

.timer {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.setter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.rotate {
  transform: rotate(180deg);
}

.icon {
  display: flex;
}
