.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.info > *:last-child {
  margin-top: 0.5rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  max-height: 5.7rem; /* TODO: This looks ugly  */
  overflow-y: auto;
}
