.container {
  background: rgb(96, 33, 255);
  background: linear-gradient(
    135deg,
    rgba(96, 33, 255, 1) 47%,
    rgba(241, 212, 252, 1) 100%
  );
  display: flex;
  padding: 2rem 4rem;
  align-items: center;
  gap: 10%;
  border-radius: 1rem;
  height: 55%;
  width: 100%;
  justify-content: center;
}

.banner {
  height: 100%;
  flex-shrink: 0;
}
