.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #5fc061;
  height: 48px;
}

.button:hover {
  background-color: #72db73;
}

.secondary:hover {
  background-color: #18a009;
}

.secondary {
  background-color: #148a08;
}

.button:disabled{
  background-color: #5f5f5f;
  cursor: not-allowed;
}