.button {
  /* display: inline-block; */
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 20px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 0.75rem;
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-focus);
}

.secondary {
  background-color: var(--secondary);
}

.secondary:hover {
  background-color: var(--secondary-focus);
}

.button:disabled {
  background-color: var(--neutral);
  cursor: not-allowed;
}

.icon {
  display: flex;
  transform: translateY(-1px);
}
