.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 4rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
}

.message {
  text-align: center;
}

.moon {
  width: 260px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.link:hover {
  text-decoration: underline;
}

.link:hover .rocket {
  transform: translateY(-10px) scale(1.2);
}

.rocket {
  width: 20px;
  transition: all 500ms ease;
}
