.container {
  padding: 4rem;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 90%;
  gap: 4rem;
}

.leftGroup {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 680px;
  gap: 1rem;
}

.nextButton {
  float: right;
  margin-top: 2rem;
}
