.container {
  padding: 4rem;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.leftGroup {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nextButton{
  float: right;
  margin-top: 2rem;
}
